html {
    background-color: #f0f0f0;
    font-family: Arial;
}

#header * {
    box-shadow: none;
}

#logo-bar > div {
    height: 24px;
}

#logo-bar > div > img {
    position: absolute;
    margin: -16px 0 0 -36px;
}

#logo-bar > div > span {
    margin-left: 190px;
}

nav {
    height: 40px;
    line-height: 41px;
}

#nav-bar {
    padding-top: 2rem;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: #ffc000;
}

nav ul li a {
    font-size: .9rem;    
}

nav ul li {
    width: 11.111111%;
    text-align: center;
    border-style: solid;
    border-color: #194086;
    border-width: 1px 1px 1px 0;
    background-color: #0a2964;
}

nav ul li.active {
    border-color: #ffc000;
    background: #ffc000;
    background: -webkit-linear-gradient(#ffd204, #fdb300);
    background: -o-linear-gradient(#ffd204, #fdb300);
    background: -moz-linear-gradient(#ffd204, #fdb300);
    background: linear-gradient(#ffd204, #fdb300);
}

nav ul li:hover, nav ul a:hover {
    border-color: #e4a300;
    background: #e4a300;
    background: -webkit-linear-gradient(#e5b504, #e29600);
    background: -o-linear-gradient(#e5b504, #e29600);
    background: -moz-linear-gradient(#e5b504, #e29600);
    background: linear-gradient(#e5b504, #e29600);
}

.container {
    max-width: 1920px;
    width: 90%;
}

.nbd-indigo {
    background-color: #112655 !important;
}

.nbd-blue {
    background-color: #0a2964;
}

.nbd-blue-text, nav ul a:hover, nav ul li.active a {
    color: #112655;
}

.nbd-yellow {
    background-color: #ffc000 !important;
}

footer b {
    color: #ffc000;
}

.bold {
    font-weight: bold;
}

#welcome-bar {
    color: #063887;
    padding: 5px 0 10px 0;
    margin-bottom: 0;
    background: #f0f0f0;
    background: -webkit-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -o-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: -moz-linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
    background: linear-gradient(#a5cbe1, #d1e4ee, #f0f0f0);
}

#side-bar li {
    background-color: white;
    border-style: dotted;
    border-width: 0 0 2px 0;
    padding: 4px 4px 4px 12px;
}

#side-bar li a {
    color: #103770;
    cursor: pointer;
}